<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Items</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" 
	crossorigin="anonymous">
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" 
	crossorigin="anonymous"></script>
</head>
<body>
	<!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Item Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Item Name">
</div>
		<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Price</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Price">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
</div> -->


<br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center"> ADD ITEMS </h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/admin/dashboard/{emailname}/edit/Add/submit(emailname=${details.email})}" th:object="${items}">
                    <div class="mb-3">
                        <label class="form-label"> ITEM NAME </label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                placeholder="Enter item name"
                                name="title"
                                th:field="*{Name}"
                        />
                   <!--   <p th:if="${#fields.hasErrors('title')}" class="text-danger"
                        th:errors="*{title}"></p> -->
                    </div>
					
                    <div class="mb-3">
                        <label class="form-label">PRICE</label>
                        <input
                                type="text"
                                class="form-control"
                                id="amount"
                                placeholder="Enter price"
                                name="amount"
                                th:field="*{Price}"
                        />
                       <!--    <p th:if="${#fields.hasErrors('amount')}" class="text-danger"
                           th:errors="*{amount}"></p>
                          -->
                    </div>

                    <div class="mb-3">
                        <label class="form-label">DESCRIPTION</label>
                        <textarea
                                class="form-control"
                                id="content"
                                placeholder="Enter item description"
                                rows="12"
                                name="content"
                                th:field="*{Description}"
                        >
                        </textarea>
                   <!--  <p th:if="${#fields.hasErrors('content')}" class="text-danger"
                           th:errors="*{content}"></p>
                        -->
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

</div>
<br /><br /><br /><br /><br />

</html>














</body>
</html>