<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="UTF-8">
<title>EDIT RESTAURANT</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" 
	crossorigin="anonymous">
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" 
	crossorigin="anonymous"></script>
</head>
<body>
	<span th:text="${details.restaurantName}">Pretty</span>
	<table>
    <tr>
        <th>Item ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="menuItem : ${items}">
        <td th:text="${menuItem.itemId}"></td>
        <td th:text="${menuItem.name}"></td>
        <td th:text="${menuItem.description}"></td>
        <td th:text="${menuItem.price}"></td>
        <td><a class="btn btn-primary" th:href="@{/admin/dashboard/{emailname}/edit/{Id}/Update(emailname=${details.email},Id=${menuItem.itemId})}" role="button">UPDATE</a></td>
    	 <td><a class="btn btn-danger" th:href="@{/admin/dashboard/{emailname}/edit/{Id}/Delete(emailname=${details.email},Id=${menuItem.itemId})}" role="button">DELETE</a></td>
    </tr>
</table>
	
	<a class="btn btn-primary" th:href="@{/admin/dashboard/{emailname}/edit/Add(emailname=${details.email})}" role="button">ADD</a>
	
	<a class="btn btn-primary" href="#" role="button">DELETE</a>
</body>
</html>